.MuiPaper-root{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
section{
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100vw; */
        height: 600px;
     background-color: #68666613;
  
}
.elementor-heading-title.elementor-size-default{
    font-size: 0.7em;
    line-height: 17px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: rgb(153, 153, 153);
    padding:10px 152px;
    position: absolute;
    top: 25%;
    margin-left: -122px;
}
h2{
    /* font-family: inherit !important; */
    font-size: 34px !important;
    color: #222222 !important;
    width: 55% !important;
    /* font-weight: 300 !important; */
    white-space: pre-wrap;
    text-transform: uppercase;
    line-height: 44px !important;
    letter-spacing: 5.22px;
    position: absolute !important;
    top: 30% !important;
    margin-left: 0 !important;

    
}
.elementor-widget-container p {
    font-size: 13px;
    line-height: 19px;
    padding: 10px 150px; 
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* margin-top: 40%; */
    display: flex;
    top: 45%;
    position: absolute;
    justify-content: center;
    color: #B3B3B3;
    opacity: 0;
    animation: animateText 0.5s ease forwards;
}

@keyframes animateText {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.skip-lazy img{
    padding: 0px 90px ;
}
.demo{
    display: flex;
    justify-content: center;
    
}
li{
    list-style: none;
    
    
}
 a {

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #222222;
    text-decoration: none;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
    

} 
.n2-ss-4item12{
    display: none;
}
.n2-ss-4item2{
    display: none !important;
}

/* woocommerce Products stying */
.products-heading{
    color: #1a1a1a;
    font-family: roboto,Sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.8em;
    letter-spacing: 5px;
}
.para {
    width: 45% ;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}




.overlay {
    
  position: absolute;
  top: -50px;
  left: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s linear;

}


.card:hover .overlay {
  opacity: 1;
}

.icon {
      color: #fff;
  font-size: 18px;
}
.carousel-item {
    transition: all 0.8s linear;
}

.carousel-item:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: auto;
}
